/* colors class */
.cpd {
    color: var(--color-primary-dark);
}

.cpl {
    color: var(--color-primary-light);
}

.cbd {
    color: var(--color-brand-dark);
}

.cbl {
    color: var(--color-brand-light);
}